@import "tailwindcss";

@theme {
  --color-bg-light: #ffffff;
  --color-bg-dark: #0f0b42;
  --color-text-light: #000000;
  --color-text-dark: #ffffff;
}
html {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

html.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
